.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0px 10%;
  }

/* Interview Section */

.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgInterview{
    width:100%;
    height: auto;
}

/*  Tablet  >= 768px */
@media screen and (min-width: 768px) {
   
  }
  
  /* Desktop  >= 992px */
  @media screen and (min-width: 992px) {
    .aboutSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .textContainerWhat{
        width: 60%;
    }
    
    .imageContainer{
        width: 40%;
        padding: 42px;
    }
    
    .imgInterview{
        width:100%;
        height: auto;
    }
    
  }