.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.barTemplateContainer {
  display: flex;
  height: 230px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.barMiniImage {
  width: 150px;
  height: 150px;
  align-self: center;
  border-radius: 7px;
}

.ratingBar {
  display: block;
  width: 100px;
  height: 20px;
  background-color: goldenrod;
  margin-top: 2px;
}

.barImageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.barDescriptionContainer {
  flex: 4;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.barTextContainer {
  flex: 2;
  align-self: flex-start;
}

.barButtonContainer {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/* Buttons */

.shareButton{
  display: flex;
  align-items: center;
  background-color: black;
  padding: 11.2px;
  font-size: 20px;
  border: 0;
  color: white;
  margin-right: 5px;
}


.readMoreButton {
  background-color: #80807f;
  font-size: 20px;
  padding: 10px;
  border: 0;
  color: white;
}

.mapButton {
  background-color: #801a12;
  font-size: 20px;
  padding: 10px;
  border: 0;
  color: white;
  margin-left: 5px;
}


/* Texts styles */
.barName {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Big-Noodle';
}

.barDescriptionText {
  margin: 0;
  font-size: 0.75rem;
}

.barRatingText {
  margin: 0;
  margin-top: 3px;
}

/*  Tablet  >= 768px */
@media screen and (min-width: 768px) {
  .allBarsContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .barTemplateContainer {
    width: 50%;
  }
}

/* Desktop  >= 992px */
@media screen and (min-width: 992px) {
  .allBarsContainer {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
  }
  .barTemplateContainer {
    width: 31%;
    min-width: 350px;
    padding: 10px;
  }
}