.mainContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.barBigImage {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
}

.barInformationContainer {
  display: block;
  padding: 12px;
}

.subTitleBig {
  display: block;
}

/* Map Section */
.mapContainer {
  width: 100%;
  height: 320px;
}

.pinMarker {
  width: 20px;
}

/* Comment Section */
.noMargin {
  margin: 0;
  padding: 0;
}

/*Comment*/

.commentContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.commentUserPhotoContainer {
  width: 20%;
  padding: 10px;
}

.commenterPhoto {
  width: 100%;
  border-radius: 50%;
}

.commentTextContainer {
  padding: 5px 10px;
  width: 80%;
}
.commentText {
  margin: 0;
}

.ratingContainer {
  display: flex;
}

.ratingStars {
  width: 100px;
  height: 20px;
}

.ratingStars:nth-child(2) {
  margin-left: 15px;
}

.ratingCoins {
  width: 100px;
  height: 20px;
}

/* Comment Creator */

.commentCreatorContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.commentFormContainer {
  display: flex;
  width: 100%;
  padding: 5px 2px;
}

.ratingItem {
  width: 15px;
  height: 15px;
  margin: 0px 2.5px;
}

.inputText {
  width: 80%;
  border: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.inputText:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid;
}

.commentBtn {
  background-color: #80807f;
  font-size: 15px;
  padding: 7px;
  border: 0;
  color: white;
  width: 60px;
  margin: 0px 10px;
}
