.mainContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.barNameTitle {
  text-align: center;
  font-weight: 100;
  width: 100%;
}

.barBigImage {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.barInformationContainer {
  display: block;
  padding: 12px;
}

.subTitleBig {
  display: block;
}

/* Map Section */
.mapContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 320px;
  margin-bottom: 150px;
  padding: 10px;
}

.pinMarker {
  width: 20px;
}

.routeBtnContainer {
  margin-top: 10px;
}
.routeBtn {
  background-color: #801a12;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: 0;
  color: white;
  margin-top: 10px;
}

/* Comment Section */

.commentSectionContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-content: center;
}

.noMargin {
  margin: 0;
  padding: 0;
}

/*Comment*/
.commentContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.commentUserPhotoContainer {
  width: 20%;
  padding: 10px;
  max-width: 60px;
}

.commenterPhoto {
  width: 100%;
  border-radius: 50%;
}

.commentTextContainer {
  padding: 5px 10px;
  width: 80%;
}
.commentText {
  margin: 0;
}

.ratingContainer {
  display: flex;
}

.ratingStars {
  width: 100px;
  height: 20px;
}

.ratingStars:nth-child(2) {
  margin-left: 15px;
}

.ratingCoins {
  width: 100px;
  height: 20px;
}

/* Comment Creator */

.commentCreatorContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.commentFormContainer {
  display: flex;
  width: 100%;
  padding: 5px 2px;
}

.ratingItem {
  width: 15px;
  height: 15px;
  margin: 0px 2.5px;
}

.inputText {
  width: 80%;
  border: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.inputText:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid;
}

.shareButton{
  display: flex;
  align-items: center;
  background-color: black;
  padding: 11.2px;
  font-size: 20px;
  border: 0;
  color: white;
  margin-right: 5px;
}

.commentBtn {
  background-color: #80807f;
  font-size: 15px;
  padding: 7px;
  border: 0;
  color: white;
  width: 60px;
  margin: 0px 10px;
}

/*  Tablet  >= 768px */
@media screen and (min-width: 768px) {
}

/* Desktop  >= 992px */
@media screen and (min-width: 992px) {
  .barContainerDesktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 42px;
  }

  .desktopImageContainer {
    width: 50%;
    height: 450px;
    padding: 10px;
  }
  .commentContainer {
    width: 60%;
  }

  .barBigImage {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
  }
  .barInformationContainer {
    width: 50%;
  }
}
