.header {
  display: flex;
  position: fixed;
  z-index: 5;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: black;
}

.headerLogo {
  width: 100px;
  height: 100%;
}

.linkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuIcon {
  width: 15px;
  height: auto;
}

.headerLogoContainer {
  padding: 5px;
}

.mobileMenuIconContainer {
  padding: 15px;
}

.mobileMenuContainer {
  position: fixed;
  width: 100%;
  background-color: black;
  top: 50px;
  z-index: 4;
  animation-name: openMenu;
  animation-duration: 0.8s;
}

/* The animation code */
@keyframes openMenu {
  from {
    top: -100px;
  }
  to {
    top: 50px;
  }
}

.mobileMenuContainerHidden {
  position: fixed;
  width: 100%;
  background-color: black;
  top: -150px;
  z-index: 4;
  animation-name: closeMenu;
  animation-duration: 0.8s;
}

.noMenu {
  display: none;
}

/* The animation code */
@keyframes closeMenu {
  from {
    top: 50px;
  }
  to {
    top: -100px;
  }
}

.menuLink {
  color: white;
  text-align: center;
  padding: 5px;
  height: 40px;
}
