.header {
  width: 100%;
  height: 50px;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
}

.mainLogo {
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
