.main {
  display: flex;  
  height: calc(100vh - 30px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainLogo {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.googleLogin {
  background-color: #4285f4;
  border: none;
  padding: 12px;
  color: white;
  font-size: 23px;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
