@import url('https://pedrobaptista.com/rotaboemia/styles/boemia-fonts.css');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainLogo {
  width: 100%;
  max-width: 350px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
